  body {
    background-color: #ffff;
      margin: 20px;
      padding: 50px;
      font-size: 13px;
  }
  .title {
      padding: 15px;
    color: #ffff;
      font-size: 50px;
      margin: auto;
      text-align: center;
      font-family: 'Titillium Web', sans-serif;
      width: 50%;
      background-color: #0d2f72;

  }

  #mapid {
      float: right;
      border: 2px  #0d2f72 solid;
      width: 70%;
    height: 400px;
}
.mainsearch
{
    width: 20%;
    padding: 12px 20px;
    font-size: 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.mainsearch:focus{
    border: 3px solid #555;
}
.searchbutton{
    width: 9%;
    background-color: #ffff;
    border: 2px solid #0d2f72;
    color: #0d2f72;
    font-size: 16px;
    padding: 12px 20px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.searchbutton:hover{
    background-color: #0d2f72;
    color: white;
}

#infoCountry{
width: 29%;
height: 400px;
border: #0d2f72 2px solid;
font-family: 'Titillium Web', sans-serif;
font-size: 16px;
float: left;
}
#infobox{
    width: 95%;
    padding: 10px;
    margin: 2.5%;
    height: 250px;
    font-family: 'Titillium Web', sans-serif;
font-size: 16px;    
}
 