  body {
    background-color: #ffff;
      margin: 20px;
      padding: 50px;
      font-size: 13px;
  }
  .title {
    color: #ffff;
      font-size: 50px;
      margin: auto;
      text-align: center;
      font-family: 'Titillium Web', sans-serif;
      width: 100%;
      color: #0d2f72;
      border:  #0d2f72 3px solid;

  }

#countrylistoption{
    display: block;
    width: 100%;
}

  #mapid {
      float: right;
      border: 2px  #0d2f72 solid;
      width: 70%;
    height: 550px;
}
.mainsearch
{
    width: 20%;
    padding: 12px 20px;
    font-size: 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
#nameOfCountry{

    display: block;
    max-height: 20px;
    width: 66%;
    float: right;
    border: 2px #0d2f72 solid;
    font-size: 16px;
    margin: 6px;
    padding: 12px 21px 12px 20px;
}
#NameOftheCountry{
    display: inline;
}
.mainsearch:focus{
    border: 3px solid #555;
}
.searchbutton{
    width: 9%;
    background-color: #ffff;
    border: 2px solid #0d2f72;
    color: #0d2f72;
    font-size: 16px;
    padding: 12px 20px;
    text-align: center;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.searchbutton:hover{
    background-color: #0d2f72;
    color: white;
}

#infoCountry{
width: 29%;
font-family: 'Titillium Web', sans-serif;
float: left;
}
#infobox{
    width: 90%;
    padding: 5px;
    margin: 2.5%;
    height: 250px;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
font-size: 16px;    
}
 

.name:after{
	content:"";
	position:absolute;
	height:3px;
	width:300px;
	background:maroon;
	top:120%;
	left:0;
}
.NamesOfCountries
{
    display: inline-block;
    position: relative;
}
.datalist
{
    display: block;
}
#infoboxdiv
{
    display: block;
    width: 100%;
    height: 315px;
    border: 2px solid #0d2f72;
    color: #0d2f72;
    float: left;
    font-size: 16px;
    font-family: 'Titillium Web', sans-serif;
    margin-bottom: 7px;
}
#capitalCitymain,
#languagesmain,
#currenciesmain,
#timezonesmain{
    display: inline-block;
    position: relative;
    width:100%;
    border-bottom: 2px solid #0d2f72; 
}
#regionmain{
    display: inline-block;
    position: relative;
    width:100%;
}

#capitalCity,
#language,
#currency,
#timezone,
#region{
    display: block;
    float: right;
    color: darkred;
    width: 50%;
    padding: 0px 0px 0px 10px;
}


#capitalCityinfo,
#languageinfo,
#currenciesinfo,
#timezonesinfo,
#regioninfo{
    display: block;
    float: left;
    width: 40%;
    padding: 0px 0px 0px 10px;
}

#flag{
  background-color: #d8d8d8;
    display: block;
    width: 100%;
    height: 224px;
    border: 2px solid #0d2f72;
    color: #0d2f72;
    float: left;
}

#article
{   width: 100%;
    display: inline-block;
    border: #0d2f72 2px solid;
    margin-top: 10px;
    font-size: 14px;
    font-family: 'Titillium Web', sans-serif;
    min-height: 50px;
  
}
#article p{
   padding: 10px 20px 10px 20px ; 
   
}
.flagimg
{
    max-width: 95%;
    max-height:95%;
    width: auto;
    height: auto;
    margin: 2.5%;
    vertical-align: auto;
}

